.password-field {
    display: flex;
    align-items: center;
    width: 215px;
    border-radius: 12px;
    border: 1px solid #c5c5c5;
    padding-right: 8px;
  }
  
.password-field.focused {
outline: #0C7265 auto 1px; /* Adiciona um contorno ao contêiner pai quando o input estiver em foco */
}

.password-field input {
flex: 1;
font-family: 'Poppins', sans-serif;
border: none;
font-size: 12px;
padding-left: 7px;
font-weight: 500;
outline: none; /* Remove o contorno do campo de senha */
padding: 7px;
color: #1e2431;
margin: 0;
border-radius: 12px;
height: 18px;
}
